@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src:url('/font/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Bebas;
  src:url('/font/BebasNeue-Regular.ttf') format("truetype");
}

@font-face {
  font-family: OpenSans;
  src:url('/font/OpenSans-Regular.ttf') format("truetype");
}

@layer{
  body {
    font-family: 'Roboto';
  }
}
