<h2 class="uppercase text-4xl text-violisia font-bebas">news</h2>
<div class="flex flex-col md:flex-row justify-between mt-12">
  <div class="relative card card-black  text-xl">
    <img src="img/news/bmwukong.png" class="md:h-96" id="wukong"/>
  </div>

  <div class="card card-inzoi relative  text-xl">
    <img src="img/news/inzoi.png" class="md:h-96" id="inzoi"/>
  </div>
  <div class="card card-starwars relative  text-xl">
    <img src="img/news/starwars.png" class="md:h-96" id="starwars"/>
  </div>
  <div class="card card-wow relative text-xl ">
    <img src="img/news/wow.png" class="md:h-96" />
  </div>

</div>
<div class="flex justify-end my-4">
  <p class="border-violisia border-2 bg-white rounded-xl px-3 py-0.5 text-violisia text-xl font-bold">View More →</p>
</div>
