<h2 class="uppercase text-4xl text-violisia font-bebas">entertainment</h2>
<div class="flex flex-col md:flex-row md:justify-between mt-12">
  <div class="space-y-20">
    <iframe
      src="https://player.twitch.tv/?channel=katy_v4&parent=localhost"
      height="45%"
      width="600px"
      allowfullscreen>
    </iframe>

    <iframe
      src="https://player.twitch.tv/?channel=deafmute&parent=localhost"
      height="45%"
      width="600px"
      allowfullscreen>
    </iframe>
  </div>
  <img src="img/ad.png" class="md:block hidden"/>
</div>


